@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/globals.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Ensure background is white */
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Ensure container takes full height */
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100vw; /* Full width */
  height: 700px; /* Set desired height */
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  object-fit: cover; /* Ensure the image covers the container */
}

.carousel-item .text-overlay {
  position: absolute;
  top: 200px; 
  left: 20px; 
  color: #0d0c0c; 
  padding: 10px; 
  border-radius: 6px; 
  font-size: large; 
}
